footer {
  background-color: var(--bg-hero);
}

#footer_itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8% 24px 8%;
}

#copy {
  color: var(--text);
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  #footer_itens {
    flex-direction: column;
    gap: 20px;
  }
}
